.content {
    display: flex;
    flex-direction: column;
    background-color: hotpink;
    flex-grow: 2;
  }

.backgroundImage {
    width: 862px;
  }

.userAvatar {
    height: 90px;
    width: 90px;
}

.userText {
  width: 353px;
  height: 123px;
}